.submitButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    color: #fff;
    background-color: black;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}