.drawerContainer{
    margin: 12px;
}

.profile{
    padding-bottom: 16px;
}

.connections{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    gap: 12px;
}

.bioSummary{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.currentPositions{
    padding-top: 16px;
    padding-bottom: 16px;
}

.pastPositions{
    padding-top: 16px;
    padding-bottom: 16px;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 16px;
    padding-bottom: 16px
}