* {
    margin: 0;
    padding: 0 
}

h4 {
    padding-bottom: 5px;
}

.drawerContainer{
    margin: 16px;
}

.profile{
    padding-bottom: 16px;
}

.connections{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    gap: 12px;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
}