.header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.logoWrapper {
    display: flex;
    align-items: center;
}

.logoWrapper img {
    height: 36px;
    padding-right: 8px;
}

.text {
    color: #fdb73e;
    font-size: 1.2rem;
    font-weight: 300;
}

.underline {
    margin-left: 12px;
    margin-right: 12px;
    height: 1px;
    background: #fdb73e;
    border-radius: 9px;
}

.mainContent {
    margin: 12px;
}

.detailBox {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white background */
    border-radius: 8px; /* Rounded corners */
    padding: 16px; /* Padding inside the box */
    margin-top: 16px; /* Space above the box */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    color: #333; /* Dark text color for readability */
}